<hr>

<div class="crs3">
授業</div>

<br><br>

<div class="row">

   	<div class="col-lg-1"></div>

   	<div class="col-lg-5">
<% include ./lc1 %>    		
	</div><!--/col4-->
    
	<div class="col-lg-5">
    <% include ./lc2%>		
    </div><!--/col4-->
    
   	<div class="col-lg-1"></div>

</div><!-- /row-->

<br>
