
<br><br>
<hr>
<div class=container-fluid>
<div class=row>
    <div class="col-lg-1"></div>

    <div class="col-lg-10">
    <div class="crs3">			
    Teacher<br><br>
    </div><!-- /crs3 --> 
</div>
    
    <div class="col-lg-1"></div>

    </div><!-- row-->

    <div class="row">

    <div class="col-lg-6 bg-ali"> 
     <% include cd10 %>      
    </div><!-- /col6-->        
    
    <div class="col-lg-6 bg-mis">
     <% include cd10 %>      
    </div><!-- /col6-->
        

</div><!-- /row -->
</div><!-- con-->


