
<!-- menu -->

	<div class=row>
		<div class="col-lg-1"></div>
		
		<div class="col-lg-10 bg-ali">
				<% include ./lec%>
        <br><br><br>   
       
        </div><!-- /col-->
		
	   	<div class="col-lg-1"></div>

	</div><!-- /row-->

    <% include pre%>




<p id="pageTop"><a href="#"><i class="fas fa-chevron-up"></i></a></p>


