<ul class="nav nav-tabs">
  <li class="nav-item">
    <a data-toggle="tab" class="nav-link active" href="#tab1">
        Active</a>
  </li>
  <li class="nav-item">
    <a data-toggle="tab" class="nav-link" href="#tab2">Link</a>
  </li>
  <li class="nav-item">
    <a data-toggle="tab" class="nav-link" href="#tab3">Link</a>
  </li>
<li class="nav-item">
    <a data-toggle="tab" class="nav-link" href="#tab4">Link</a>
  </li>

  </ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane active">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo1.jpg" alt="" class="img-fluid">
  </div>
  <div id="tab2" class="tab-pane">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo2.jpg" alt="" class="img-fluid">
  </div>
  <div id="tab3" class="tab-pane">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo3.jpg" alt="" class="img-fluid">
  </div>
  <div id="tab4" class="tab-pane">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo4.jpg" alt="" class="img-fluid">
  </div>
</div>
