<hr>

<div class="row p-10">   
      <div class="col  bkg-white"> 
<b><p class="p-10 has-t-cen" style="font-size:25px;">3つの特徴</p></b>
      </div></div>

<!-- point1  -->
<div class="row p-10">   

      <div class="col  bkg-info "> 

           <div class="card">
           <div class="card-header p-4 bkg-bl2 has-t-black">
           <p class="card-header-title is-centered" style="font-size:25px;">
           point 1</p>
	  </div><!-- head-->

           <div class="card-content">
           <p style="font-size:20px;" align="center">現役の人気クリエイターが講師<br>
	       すぐに実践で使えるテクニックを習得！</p>
            </div><!-- /cont-->
            </div><!-- / card-->

       </div><!-- /col -->
  
<!-- point2 -->
      <div class="col bkg-warning"> 

           <div class="card">
           <div class="p-4 bkg-bl2 card-header has-t-black">
	       <p class="card-header-title is-centered" style="font-size:25px;">
	       point 2</p>
	       </div><!-- cols -->
	
           <div class="card-content">
           <p style="font-size:20px;" align="center">現役の人気クリエイターが講師<br>
           すぐに実践で使えるテクニックを習得！</p>
           </div><!-- /cont-->
        </div><!-- / card-->

       </div><!-- col -->


<!-- point3 -->
      <div class="col bkg-danger"> 
           <div class="card">
           <div class="p-4 bkg-bl2 card-header has-t-black">
	    <p class="card-header-title is-centered" style="font-size:25px;">
	       point 3</p>
	       </div><!-- head-->
<!-- /point3 title  -->
           <div class="card-content">
           <p style="font-size:20px;" align="center">現役の人気クリエイターが講師<br>
           すぐに実践で使えるテクニックを習得！</p>
           </div><!-- /cont-->
        </div><!-- / card-->

      </div><!-- col-->

</div><!-- row--> 

<!-- /point3 -->

