<br>
<a class="lnk1" href="#">home</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a class="lnk1" href="crs">コース</a>
<br><br>

<div class=row>

	<div class="col-lg-2"></div> 
		<div class="col-lg-5">
		<div class=crs6>
	    Webデザインに必須のスキルをマスター<br>
		        
		<span style="color:#ea618e">Webデザイナーコース</span><br><br>
		</div><!-- /crs6 -->
		</div><!--/col5-->
		    
		<div class="col-lg-4" align="center" >
		<img class=img-fluid src="img/898.png" id="gor1"  width="38%" height="38%">
		   
		</div><!-- /col4-->
	
	<div class="col-lg-1"></div>
     
</div><!--/row-->


<script src=js/cte.js></script>
