
<div class="row">

	<div class="col-2"></div>
	
	<div class="col-8">
        <div class="accbox">
        <label for="label1">第一回</label>
		<input type="checkbox" id="label1" class="cssacc"/ >
        <div class="accshow">	
		<p>
		
		1. イントロダクション（趣旨の説明や自己紹介）<br>
		
		2. デザインを始める前に（ヒアリングや情報設計）<br>
		●Webサイトを作る目的／●情報設計とHTML<br><br>
		
		3. デザイン実習（デザインの基礎とPhotoshop）<br>
		●photoshopの基本操作／●Webデザインに使える小技や機能の紹介／●ボタンやビジュアルの作成／●Webレイアウトの作成<br>
		●その他illustratorなどのベクターツールの紹介<br><br>
		
		4. HTMLとCSS（基本仕様）<br>
		●HTMLの文法／●メタデータ／●基本構造／●セクションと見出し／●ブロック／●フレーズ／●リンク／●CSSの文法<br>
		●デフォルトスタイルシートについて／●ブロックとインライン／●ショートハンド<br><br>
		
		5. コーディング実習（デザインカンプをコーディング）<br>
		●ブラウザー確認について／●レイアウト／●レスポンシブ／●ブロック系／●インライン系／●インタラクション系<br>
		●埋め込みコンテンツ／●スライダー／●アイコン<br><br>
		
		6. 終わりに<br>
		●情報収拾するのにオススメのWebサイトなどの紹介／●質疑応答<br><br><br>
		
		※進行状況に合わせて、項目を修正、または追加する可能性があります。<br><br>
		</p>
        </div>

		</div><!--/col8-->
	
	
	<div class="col-2"></div>


</div><!--/accbox-->
</div><!-- /row -->

