
<!-- menu -->

	<div class=row>
		<div class="col-lg-1"></div>
		
		<div class="col-lg-10 bg-ali">
		<% include ./calc1 %>
        <% include ./calc3 %>    
    
    	
        <br><br><br>   
       
        </div><!-- /col-->
		
	   	<div class="col-lg-1"></div>

	</div><!-- /row-->

  

<p id="pageTop"><a href="#"><i class="fas fa-chevron-up"></i></a></p>


