		
    <div class="card">
		<div class="card-body bg-mis">
        <span style="font-size:13pt; text-align:center; color:#ff0099" >
			<div class="card-title">ECサイトの画像の更新担当をしている方</div></span>
		</div>
	</div>


