       
        <div class="card" style="width:20rem;">

		<img class="card-img-top" src="img/sc2.png" alt="ライブ授業画像">
      	<div class="card-body">
        <h4 class="card-title">ライブ授業</h4>
        <p class="card-text">業界第一線の現役クリエイターが、2時間たっぷり直接指導。さまざまなテクニックや知識が正確に得られるだけでなく、プロの裏技や現場の経験談などリアルな最新トピックも聞くことができます。</p>
   
        <div class="text-right">  
              
		<form method="post" action="/item101">
		    <input type="hidden" name="sku" value=101>
		    <input type="hidden" name="pri" value=2000><br>
		   	    <button class="btn btn-primary" type="submit">詳細を見る</button>
		</form>
		      
      
        </div><!-- /right-->
		</div><!-- /body-->
	    </div><!-- /card-->
	

