	<div class="card" style="width:20rem">
		<img class="card-img-top" src="img/sc2.png" alt="ライブ授業画像">
      	<div class="card-body">
        <h4 class="card-title">eラーニング授業</h4>
        <p class="card-text">ライブ授業の品質そのままにPC操作で学ぶことができるeラーニング授業。必要なところだけを何度も学習することができます。</p>
        <br>
        
    
    
        <div class="text-right">  
              
		<form method="post" action="/cart">
		    <input type="hidden" name="sku" value="<%= mer.sku %>">
		    <input type="hidden" name="pri" value="<%= mer.pri %>"><br>
		   	    <button class="btn btn-primary" type="submit">詳細を見る</button>
		</form>
		      
    
    
        </div>
		</div>
    	</div>

