<table class="table table-bordered">

    <thead>

	<tr>
	<th> </th>
	<th scope="col">受講料</th>
	<th scope="col">受講回数</th>

    </tr>
    </thead>

    <tbody>
    <tr>
    <th scope="row">ライブ授業</th>
    <td>￥●●●●●● </td>
    <td>全●回</td>

    </tr>
    </tbody>
      
    <tbody>
    <tr>
    <th scope="row">eラーニング授業</th>
    <td>￥●●●●●● </td>
    <td>全●回</td>

    </tr>
    </tbody>    

    
</table>






