<hr>

<div class="row">

<div class="col-sm-2"></div>

<div class="col-sm-7">
<b>受講を検討されている方へ</b><br>
ライブ授業は授業風景を見学する事が可能です。また、e-ラーニング授業をご希望の方は一部を無料お試しいただくことが可能です。<br>まずはお気軽にお申込みください。<br>
</div>


<div class="col-sm-2">
<br>
<div align="right">
<a class="btn btn12" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
無料お試しお申込みはこちら</a>
<br><br>
<br>

</div>
</div><!--/co10-->

<div class="col-sm-1"></div>
</div><!-- /row-->


