<hr>

<div class="row"></div>

<div class="crs3">
授業の進め方</div>

<br><br>

<div class="row">

   	<div class="col-sm-1"></div>

    <div class="mx-auto">
   	<div class="col-sm-5">
<% include ./cd4 %>    		
	</div><!--/col4-->
    </div><!--/mx-->
    
    <div class="mx-auto"> 
	<div class="col-sm-5">
    <% include ./cd5%>		
    </div><!--/col4-->
    </div><!--/mx-->
    
   	<div class="col-sm-1"></div>

</div><!-- /row-->

<br>
