
<div class="row"></div>

<div class="crs3">
このような方にオススメ
</div>

<br>

<div class=row>

   	<div class="col-sm-4">
<% include cd1%>		
	</div><!--/col4-->

	<div class="col-sm-4">

<% include cd2%>		
    </div><!--/col4-->

	<div class="col-sm-4">

<% include cd3%>		
    </div><!--/col4-->

</div><!-- /row-->

