
<br>
    
 <a class="lnk1" href="#">home</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a class="lnk1" href="#crs">コース</a>
    <br><br>

<div class=row>
    <div class="col-lg-1"></div>

	<div class="col-lg-10">
		<div class=crs1>
		Webデザインに必須のスキルをマスター<br>
		<span style="color:#33ccff">Webデザイナーコース</span><br><br>
        </div><!-- /crs1 -->

        <div class=crs2>
        ｢プログラマー入門コース｣の内容に加えて2大グラフィックソフト、Photoshop（フォトショップ）とIllustrator（イラストレーター）を使い、<br> デザインの基本からプロのWebレイアウト技術まで学ぶことができるコースです。
        <br>Webデザイナーとしての基本スキルがすべてマスターできるだけでなく、実際の制作に役立つノウハウまで学ぶことができます。<br><br>
        </div><!-- /crs2 -->
        
        <hr>
    </div><!-- /col10-->
        
    <div class="col-lg-1"></div>

</div><!-- /row -->


