
<br><br>
<hr>
<div class=row>
    <div class="col-lg-1"></div>

    <div class="col-lg-10">
    
    <div class="crs3">			
    カリキュラム<br><br>
    </div><!-- /crs3 --> 
    
    <div class="row">
    <div class="col-6 col-sm-6"> 
       
     <% include cd8 %>      
    </div><!-- /col6-->        
    
    <div class="col-6 col-sm-6">

     <% include cd9 %>      
       
    </div><!-- /col6-->
 
     
    </div><!-- /row-->
    </div><!-- /col10-->
        
    <div class="col-lg-1"></div>

</div><!-- /row -->


