<div id="feature">
<div class="row">
<div class="col">

<hr>

     <div class="row bkg-white">   
     <div class="col"> 

	 <b><p class="p-10 has-t-info has-t-cen" style="font-size:25px;">インターネットクリエイター養成スクール3つの特徴</p></b>
   		 
     </div><!-- cols -->
     </div><!-- row-->


<!-- point1  -->
<div class="row">   
      <div class="col  bkg-info p-10"> 
           <div class="card">
           <div class="p-4 bkg-bl2 card-header has-t-black">
           <p class="card-header-title is-centered" style="font-size:25px;">
           point 1</p>

	  </div><!-- cols -->

<!-- /point1 title  -->
           <div class="card-content">
           <p style="font-size:20px;" align="center">現役の人気クリエイターが講師<br>
	       すぐに実践で使えるテクニックを習得！</p>
                   
            </div><!-- /card-->
            </div><!-- / title card-->
       </div><!-- /cols -->

<!-- /point1 -->


  
<!-- point2 -->
      <div class="col bkg-warning"> 
           <div class="card">
           <div class="p-4 bkg-bl2 card-header has-t-black">
	       <p class="card-header-title is-centered" style="font-size:25px;">
	       point 2</p>
	       </div><!-- cols -->
	
<!-- /point2 title  -->
           <div class="card-content">
           <p style="font-size:20px;" align="center">現役の人気クリエイターが講師<br>
           すぐに実践で使えるテクニックを習得！</p>
	                   
           </div><!-- /card-->
        </div><!-- / title card-->
	   
       </div><!-- cols -->

<!-- /point2 -->


<!-- point3 -->
      <div class="col bkg-danger"> 
           <div class="card">
           <div class="p-4 bkg-bl2 card-header has-t-black">
	       <p class="card-header-title is-centered" style="font-size:25px;">
	       point 3</p>
	       </div><!-- cols -->
	
<!-- /point3 title  -->
           <div class="card-content">
           <p style="font-size:20px;" align="center">現役の人気クリエイターが講師<br>
           すぐに実践で使えるテクニックを習得！</p>
	                   
           </div><!-- /card-->
        </div><!-- / title card-->
	   
       </div><!-- cols -->

<!-- /point3 -->

</div><!-- row-->
</div><!-- col -->
</div><!-- row -->

