<div id="access">
<div class="row bkg-white">
     <div class="col">
     <b><p class="p-10 has-t-info has-t-cen" style="font-size:25px;">アクセス</p></b>
  
     </div><!-- /col -->
</div><!-- /row -->


<div class="row">
  <div class="col">
  <div class="example7">
  <div align="center"> 

  <img src="img/pstudio.png" width="" height="">
  <b><p style="font-size:130%;">paradise Studio</b><br><br>
   （住所） 〒150-0002<br>
    東京都渋谷区渋谷2-12-19<br> 
    東建インターナショナルビルB1<br><br>

    JR渋谷駅東口より徒歩7分<br>
   （電話番号） 03-0000-0000<br><br>
    
  <a href="https://goo.gl/maps/bteXCyKKZHRFRwF87/" target="_blank" class="button is-danger is-rounded">google map</a>
 <br><br><br><br><br><br><br><br><br>

 
  </p> 
  
  </div> <!-- /access  -->
  </div> <!-- /example7 -->
  </div> <!-- /center -->
  </div> <!-- /col -->

</div> <!-- /row  -->


<hr>
<br>

<div class="row">
  <div class="col">
  <div class="example7">
  <div align="center"> 

  <img src="img/mboxx.png" width="" height="">
  <b><p style="font-size:130%;">Mboxx</b><br><br>
   （住所） 〒168-0062<br>
    東京都杉並区方南2-21-1<br> 
    鈴力ビル2F<br><br>

    丸の内線<br>
    方南町駅2番出口より徒歩1分<br>
    パーラーJOY(2番出口を出て<br>
    斜め向かいのビル1F)が入っている<br>
    ビルの2Fになります。<br><br>

   （電話番号） 03-5929-7666<br><br>
    
  <a href="https://goo.gl/maps/TDpqPYvfmwfk7Wby7/" target="_blank" class="button is-danger is-rounded">google map</a><br><br><br>

  </p>  
  
  </div> <!-- /access  -->
  </div> <!-- /example7 -->
  </div> <!-- /center -->
  </div> <!-- /col -->

</div> <!-- /row  -->
