<div id="course">
<div class="row bkg-white">   
     <div class="col"> 

	 <b><p class="p-10 has-t-info has-t-cen" style="font-size:25px;">コース一覧</p></b>
   		 
     </div><!-- cols -->
</div><!-- row-->


<div class="row">
<div class="col is-1"></div>


<div class="col is-5">
	<%include ./ppind4%>
</div>


<div class="col is-5">
	<%include ./ppind4%>
</div>

<div class="col is-1"></div>
   

</div><!-- row -->


<div class="row bkg-white">   
     <div class="col"> 

  		 
     </div><!-- cols -->
</div><!-- row-->


<div class="row">
<div class="col is-1"></div>


<div class="col is-5">
	<%include ./ppind4%>
</div>


<div class="col is-5">
	<%include ./ppind4%>
</div>

<div class="col is-1"></div>
   
</div><!-- /id-->
</div><!-- /row -->

