<div class="row">
<div class="col">   
  
    <div class="example">
  
    <img src="img/sc1.png" width="" height="">
    <span> Internet Creator<br>
     Training School</span>
    
    </div><!--example-->

</div> <!-- /row -->  
</div><!-- /col -->
