
<div class="example6">

  <b><p>WEBデザイナー専攻コース</p></b>
<hr>
  
   <p style="font-size:20px;">企業のWeb部門への就職、転職を目指す方にオススメのコースです。Webクリエイターに必要なスキルを基礎から最新まで習得します。</p>
         
   <br> 
   
   <div align=right> 
   <a href="#course" class="button is-danger is-rounded" >詳しくはこちら</a>

</div><!-- example3  --> 
</div>

