<div align="center" style="background-color:#fff799;">
<img class=img-fluid src='https://res.cloudinary.com/g0urmate/image/upload/v1565682161/spihrb1clqc6fwqa7bpr.png'
 id=img1> 
</div>
<script src=js/res.js></script>
