<hr id="sum">
   
    <p class="text-center ex3" style="font-size:19px;"><b>EM CAMPとは？</b><br><br>
           
           EM CAMPとは、現役で活躍する人気クリエイターを講師に迎え、
           インターネットを使って作品を生み出すクリエイターを養成するスクールです。
           YouTubeを始めとし、現在様々なプラットフォームがあるこの時代の特性を活かした
           クリエイターを養成することを目的とし、必要なスキルを様々なカリキュラムの中から選択し、
           学んでいただくことができます。
    </p>


