<div class=col-lg-4> 
<div class="card ex8">
<p class="card-header bg-bl8">point 3</p>
				      
<div class=card-body>
<p style=card-text>現役の人気クリエイターが講師<br>
すぐに実践で使えるテクニックを習得！</p>
</div><!-- body-->             

</div><!-- card-->
</div><!-- cols -->


