	<div class=row>
		<div class="col-lg-1"></div>
	<div class="col-lg-5"><%include ./p3%></div>
				
<div class="col-lg-5"><%include ./p4%></div>
		
		<div class="col-lg-1"></div>
	</div><!-- /row -->


