  <div class="row">

  <div class="col" align="center">
  <img class=img-fluid src='https://res.cloudinary.com/g0urmate/image/upload/v1565683108/rh28c9tfi7rucd38mhpa.png',
  id=img2 width="" height="">
 
  </div> <!-- /col-->
  </div> <!-- /row-->

  <br>
  
  <div class="row">
  <div class="col">
   
  <b><p style="font-size:100%;" align="center">paradise Studio</b>
   （住所） 〒150-0002
    東京都渋谷区渋谷2-12-19 
    東建インターナショナルビルB1<br>

    JR渋谷駅東口より徒歩7分
   （電話番号） 03-0000-0000<br><br> 
  
  <a class="btn btn-bl6 rounded-pill" href="https://goo.gl/maps/bteXCyKKZHRFRwF87/" target="_blank" role="button">google map</a>  
 <br>

 
 </p> 
 
 </div> <!--/col-->
 </div> <!-- /row--> 

 <script src=js/res.js></script>

