   <div class="row">

   <div class="col" align="center">
   <img class=img-fluid src=
   'https://res.cloudinary.com/g0urmate/image/upload/v1565683108/rh28c9tfi7rucd38mhpa.png',
    id=img3 width="" height="">
 
   </div> <!--/col-->
   </div> <!--/row-->

    <br>
 
    <div class="row">
    <div class="col"> 
    
    <b><p style="font-size:100%;" align="center">Mboxx</b>
   （住所） 〒168-0062 東京都杉並区方南2-21-1 鈴力ビル2F （電話番号）03-5929-7666<br>

    丸の内線 方南町駅2番出口より徒歩1分 パーラーJOY(2番出口を出て斜め向かいのビル1F)が入っている
    ビルの2Fになります。<br><br>
   
   
  <a class="btn btn-bl6 rounded-pill" href="https://goo.gl/maps/TDpqPYvfmwfk7Wby7/" target="_blank" role="button">google map</a> 
  <br><br>
  
  </p>  
  
  </div> <!-- /col -->
  </div> <!-- /row  -->

<script src=js/res.js></script>

