<div class=ex6>

<b><p>Voxコース</p></b>
<hr>
  
<p style="font-size:20px;">net artistに必要なスキルを基礎から最新まで習得します。</p>

<br><br> 
   
<div align=right> 
<form action="/category-vox">
<input type="hidden" name="cat" value="dtm">
<button type="submit" class="btn btn-info rounded-pill" >詳しくはこちら</button>
</form>
</div>

</div><!-- ex6--> 
