
<div class="ex6">

  <b><p>イラストコース</p></b>
<hr>
  
   <p style="font-size:20px;">イラストレーターに必要なスキルを基礎から最新まで習得します。</p>
         
   <br> 
   
   <div align=right> 
   <a href="#course" class="button is-danger is-rounded" >詳しくはこちら</a>

</div><!-- ex3  --> 
</div>

