<div class="row">   

<!-- point1  -->
      <div class="col-sm-12  bkg-info p-10"> 
           <div class="card">
           <div class="card-header" align="center">
           point 1
	  </div><!-- col -->
           <div class="card-content">
           <p style="font-size:20px;" align="center">現役の人気クリエイターが講師<br>
	       すぐに実践で使えるテクニックを習得！</p>
            </div><!-- /cont-->
            </div><!-- /card-->
       </div><!-- /col -->

      <div class="col-sm-12  bkg-info p-10"> 
           <div class="card">
           <div class="card-header" align="center">
           point 2
	  </div><!-- col -->
           <div class="card-content">
           <p style="font-size:20px;" align="center">現役の人気クリエイターが講師<br>
	       すぐに実践で使えるテクニックを習得！</p>
            </div><!-- /cont-->
            </div><!-- /card-->
       </div><!-- /col -->

      <div class="col-sm-12  bkg-info p-10"> 
           <div class="card">
           <div class="card-header" align="center">
           point 3
	  </div><!-- col -->
           <div class="card-content">
           <p style="font-size:20px;" align="center">現役の人気クリエイターが講師<br>
	       すぐに実践で使えるテクニックを習得！</p>
            </div><!-- /cont-->
            </div><!-- /card-->
       </div><!-- /col -->

</div><!-- row-->

