<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>

<html>
<body>
<section class="section">

<div class="row">
		<div class="col is-one-4 bkg-ali">
<% include shop/cat%>
<br><% include usr/usr%>
		</div><!-- col1 4-->

<div class="col">

<div class="row ">
<div class="col is-two-4 "> 
    <p class="bkg-ali p-10 has-t-cen"><%=shop.cart%></p><br>

<% if(sar!==null){ %>
<% include shop/cart %>
<% include shop/clr%>
<% } else { %>

<p class="bkg-ali p-10 has-t-cen"><%=shop.noit%></p>
<% }  %>
</div><!-- col3 4-->


<% if(sum!==0){ %>
<div class="col is-two-4 bkg-ali">

    <% include shop/sum %>
    <% include shop/pay%>

</div><!-- col3 4-->
<% }else{  %><% }  %>

</div><!-- row--> 
</div><!-- col--> 

</div><!-- row--> 

</section> 

</body>
</html>

