<!DOCTYPE html>

<html>
<body>

<!-- menu -->

<div class=container-fluid>
	<div class=row>
		<div class="col-lg-1 bg-danger">
	
        </div>
		
		<div class="col-lg-10">
		<% include ./item1 %>
		<% include ./item2 %>
       	<% include ./item7 %>
        <% include ./item6 %>
        <% include ./item3 %>
        <% include ./item4 %>
        <br><br><br>   
       
        </div><!-- /col-->
		
	   	<div class="col-lg-1 bg-dark">
        </div>

	</div><!-- /row-->

    <% include item5 %>

</div><!-- /container-fluid-->

</body>
</html>


