
<section class="card">

<div class="card-content">
   <p class="bg-light text-center"> <%=shop.pay%></p><br><br>

    <div class="level">
   <a href="/paypal"> <button class="btn bg-info">paypal</button></a>

   <a href="/paidy"> <button class="btn bg-mis">paidy </button></a>

   <a href="/rpay"> <button class="btn bg-danger">rpay</button></a>

</div>
</div>
</section><br>
