<div class="row" style="background-color:blue">

    <div class="col is-one-4" >1</div>
    <div class="col is-one-4" style="background-color:aliceblue">1</div>
    <div class="col">3</div>
</div>
<br>

<div class="row" style="background-color:beige">
<div class="col">3</div>
</div>

<div class="level"> 
    <div class="level-item">
    lev111111
    </div>
<div class="level-item">
lev
</div>
<div class="level-item">
    lev
</div>

</div>
