<form method="get" action="/cart">
&nbsp;&nbsp; <input class="input" min=0 type="number" name="rset" value="<%= sar[i].uni %>">&nbsp;&nbsp;

<input type="hidden" name="rsku" value="<%= sar[i].sku%>">
<button class="btn btn-bl2" type="submit">申込み</button>
</form>


