<div id="base" class="navbar-menu">
  <div class="navbar-end">
		<div class="navbar-item">
			
			<a class="button is-info" href="/usr-up">概要&nbsp;
			<img src="img/.png" alt=""></a>
			
			<a class="button is-info" href="/usr-in">特徴&nbsp;
			<img src="img/.png" alt=""></a>
		
        	<a class="button is-info" href="/usr-my">コース&nbsp;
			<img src="img/.png" alt=""></a>

			<a class="button is-info" href="/cart">アクセス&nbsp;
			<img src="img/.png" alt=""></a>
			
			<a class="button is-info" href="/usr-fav">お問合せ&nbsp;
			<img src="img/.png" alt=""></a>
			
		</div><!--navitem -->
	</div>
</div><!--/navmenu -->


