<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="cus/css/my.css" rel="stylesheet">
<link href="cus/css/ase.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<script src="cus/lib/jq.js"></script>
<script src="cus/lib/bun.js"></script>

<title id="my"></title>
</head>

<script>
</script>


