<form method="post" action="/" >
        <label> name:</label>
    <input class="input" name="usr" type="text">
    <label>pss:&nbsp;&nbsp;&nbsp;</label>
    <input class="input" name="pss" type="text">
<button type="submit" class="button">Submit</button>
</form>
