<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
        tmStore
    </a>

<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

      <div class="navbar-item">
<a class="button is-black" href="/log-in">Log in&nbsp;
<img src="img/jpg/login.jpg" alt="login/icon"></a>
      </div>

      <div class="navbar-item">
          <a class="button is-small is-white" href="/sign-up"><%=iusr.sgin%></a>&nbsp;&nbsp;
      </div>

      <div class="navbar-item">
<a class="button is-black" href="/cart">Cart&nbsp;
<img src="img/jpg/cart.jpg" alt="cart/icon"></a>
      </div>

      <div class="navbar-item">
<a class="button is-black" href="/info-sea">Search&nbsp;
<img src="img/jpg/search.jpg" alt="search/icon"></a>
      </div>

      <div class="navbar-item">
<a class="button is-black" href="/info-not">Info&nbsp;
<img src="img/jpg/info.jpg" alt="info/icon"></a>
      </div>


  </div>
</nav>
<script src="js/nav.js"></script>
