<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="tehtml; charset=utf-8">

<link href="../cus/css/my.css" rel="stylesheet">
<link href="../cus/css/ase.css" rel="stylesheet">
<script src="../lib/jq.js"></script>
<script src="../cus/lib/bootstrap.bundle.min.js"></script>
<script src="../lib/ini.js"></script>
<title>ex1</title>
</head>
