 <ul class="navbar-nav ml-auto" style="font-size:18px;">
   <li class="nav-item">
    <a class="nav-link" href="#usr">ユーザ</a>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;
  
    <li class="nav-item">
    <a class="nav-link" href="#sum">概要</a>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;
  
    <li class="nav-item">
    <a class="nav-link" href="#fea">特徴</a>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;  

    <li class="nav-item">
    <a class="nav-link" href="#crs">コース</a>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;

    <li class="nav-item">
    <a class="nav-link" href="#map">アクセス</a>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;

    <li class="nav-item">
    <a class="nav-link" href="#map">お問合せ</a>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;
 </ul>


