     <div class=container-fluid>
     <div id=fea class=row>
	     <div class=col>
	
		     <hr>
		     <div align ="center" style="font-size:25px; color:#33ccff">
		     <b><p>ネットクリエイター養成スクール3つの特徴</p></b>
		     </div><!-- /cen  -->	 

	     </div><!-- /cols -->
     </div><!-- /row-->

     <% include ./31%>
     <% include ./32%>
     <% include ./33%>
   
    </div><!-- cnt-->


