     <div class=row>   
	     <div class="col-lg-4"> 
		     <div class="ex8">
			     <div class="card">
					 <p class="card-header bg-bl2">
					 point 1</p>
				     <div class="card-body">
				     <p style="card-text">現役の人気クリエイターが講師<br>
				      すぐに実践で使えるテクニックを習得！</p>
				     </div><!-- / card-->
		     </div><!-- /ex8 -->
	         </div><!-- / card-hea -->
		   
         </div><!-- col -->




