      <div class=col-lg-4> 
	      <div class=ex8>
		      <div class=card>
				  <p class="card-header bg-bl4">
				   point 3</p>
				      
				
			      <div class=card-body>
			      <p style=card-text>現役の人気クリエイターが講師<br>
			      すぐに実践で使えるテクニックを習得！</p>
				     
			      </div><!-- cols -->             
			  </div><!-- /card-->
	      </div><!-- / title card-->
	  </div><!-- cols -->


