<div id=crs>
<div class=contaner-fluid>
	<div class=row>   
	<div class=col>
		
		<hr>
		   	
		<div align="center" style="font-size:25px; color:#33ccff">
		<b><p>コース一覧</p></b>
		</div><!-- /cen -->	 
   <br>

	</div><!-- /row -->
	</div><!-- /col -->
	
	<div class=row>
		<div class="col-lg-1"></div>
	
			<div class="col-lg-5">
				<%include ./p1%>
			</div>
				
			<div class="col-lg-5">
				<%include ./p1%>
			</div>
		
		<div class="col-lg-1"></div>
	
	</div><!-- /row -->

    <br>

    <!-- 2段目-->  
 
	<div class=row>
		<div class="col-lg-1"></div>
	
			<div class="col-lg-5">
				<%include ./p1%>
			</div>
				
			<div class="col-lg-5">
				<%include ./p1%>
			</div>
		
		<div class="col-lg-1"></div>
	
	</div><!-- /row -->

    <br>

   <!-- 3段目-->

	<div class=row>
		<div class="col-lg-1"></div>
	
			<div class="col-lg-5">
				<%include ./p1%>
			</div>
				
			<div class="col-lg-5">
				<%include ./p1%>
			</div>
		
		<div class="col-lg-1"></div>
	
	</div><!-- /row -->












</div><!-- /crs -->
</div><!-- /con-->    
