<div class=ex6>

<b><p>DTM専攻コース</p></b>
<hr>
  
<p style="font-size:20px;">企業のWeb部門への就職、転職を目指す方にオススメのコースです。
Webクリエイターに必要なスキルを基礎から最新まで習得します。</p>
         


<br><br> 
   
<div align=right> 
<form action="/item<%= mer[0].sku %>">
<input type="hidden" name="sku" value="<%= mer[0].sku %>" >
<button type="submit" class="btn btn-bl4 rounded-pill" >詳しくはこちら</button>
</form>
</div>

</div><!-- ex3  --> 

