<% include ../par/head %>
<body>
<div class="row">

    <div class="col" ></div>
    <div class="col" >
        <br>
<p class="has-t-cen bkg-ali"><%= message %></p>
<%= error.status %>

<pre><%= error.stack %></pre>
</div>

    <div class="col" ></div>
</div>

</body>



