<div id="base" class="navbar-menu bkg-black">
	<div class="navbar-start">
        <div class="navbar-brand p-15 has-t-white"><a href="/"><%=shop.nam%></a> </div>
    </div>
	<div class="navbar-end">
		<div class="navbar-item">
		
<a class="button is-black" href="/log-in">Log in&nbsp;
<img src="img/jpg/login.jpg" alt="login/icon"></a>
<a class="button is-small is-white" href="/sign-up">新規会員登録</a>&nbsp;&nbsp;
			<a class="button is-black" href="/cart">Cart&nbsp;
			<img src="img/jpg/cart.jpg" alt="cart/icon"></a>

			<a class="button is-black" href="/info-sea">Search&nbsp;
<img src="img/jpg/search.jpg" alt="search/icon"></a>
<a class="button is-black" href="/info-not">Info&nbsp;
<img src="img/jpg/info.jpg" alt="info/icon"></a>
</div><!--navitem -->
</div><!--/navend-->
</div><!--/navmenu -->


