<form action="/usr-fav" method="get">
<input type="hidden" name="sku" value="<%= mer.sku %>">
<input type="hidden" name="fav" value="<%= mer.sku %>">
<button class="button is-danger" type="submit"><%=shop.fav%></button>
</form>


