
<div class="container-fluid">
<div class="row">
<div class="col-lg-10">

    <b><font size="5" color="#00BCD4">
	WEBデザイナー専攻コース</font></b><br><br>
	
	<font size="4" color="#171717">
	プロのWebデザイナー必須のグラフィックソフトphotoshop（フォトショップ）とIllustrator（イラストレーター）を使い、<br>
    デザインの基本からプロのWebレイアウト技術まで学ぶことができるコースです。<br>
    実際に現場で使われているテクニックを実践しながら身につけることができます。<br><br><br>
<h5>&nbsp;&nbsp;&nbsp;&nbsp; 料金</h5>


</div> <!-- /col-- >
</div> <!--/row-->
</div> <!--/container-->
