<div class="container-fluid">

<div class="row">
<div class="col-lg-12">


受講料（税込）</br>
<b><font size="5"> &nbsp;&nbsp;&nbsp;￥195,943 </font></b><br>

<font size="5" color="#00BCD4">受講時間</font>
<b><font size="5">&nbsp;&nbsp;&nbsp; 47時間</font></b><br>


<font size="5" color="#00BCD4">月々のお支払い</font>
<b><font size="5">&nbsp;&nbsp;&nbsp;￥5,200</font></b><br>


<font size="5" color="#00BCD4">受講期間の目安</font>
<b><font size="5">&nbsp;&nbsp;&nbsp;1〜3ヶ月</b></font><br>

</div> <!--/col-->
</div> <!--/row-->


<div class="row">
<div class="col-lg-12">

<font size="5" color="#00BCD4">受講料（税込）</font>
<b><font size="5">&nbsp;&nbsp;&nbsp;￥195,943</font></b><br>

<font size="5" color="#00BCD4">受講時間</font>
<b><font size="5">&nbsp;&nbsp;&nbsp;47時間</font></b><br>

<font size="5" color="#00BCD4">月々のお支払い</font>
<b><font size="5">&nbsp;&nbsp;&nbsp;￥5,200</font></b><br>

<font size="5" color="#00BCD4">受講期間の目安</font>
<b><font size="5">&nbsp;&nbsp;&nbsp;1〜3ヶ月</font></b><br>


</div> <!-- /row-->
</div> <!-- /col-- >
</div> <!-- /container-- >
