
<div class="tabs is-center is-toggle is-fullwidth">

 <ul>
  <li class="is-active">
  <a>
  <span class="icom is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
  <span>概要</span>
  </a>
  </li>

  <li>
  <a><span class="icom is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
  <span>特徴</span>
  </a>
  </li>

  <li>
  <a><span class="icom is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
  <span>コース</span>
  </a>
  </li>

  <li>
  <a><span class="icom is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
  <span>アクセス</span>
  </a>
  </li>

  <li>
  <a><span class="icom is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
  <span>お問合せ</span>
  </a>
  </li>



</div> 

