<!DOCTYPE html>

<html>
    <%include par/head %>
    <%include nav/nav%>
    <%include nav/mod%>
    <%include nav/sig%>
<body> 


<div class="container-fluid">
<div class="row">
<div class="col">




<p id="pageTop"><a href="#"><i class="fas fa-chevron-up"></i></a></p>

<% include cal/top %>

</div> <!-- /col-->
</div> <!-- /row-->
</div> <!--/con-->


</body>
</html>


<script src=js/pag.js></script>
