<!DOCTYPE html>
<% include par/head%>
<% include nav/nav%>
<%include nav/mod%>
<%include nav/sig%>

<html>
<body>

    <p class="bg-lg p-2 text-center">category</p>
    <div class="row">
    <div class="col">

	   	<% include gor/top%>
		</div><!-- /col10-->

	</div><!-- row-->

</body>
</html>

