<% include par/head %>
<% include par/nav %>
<body>
<div class="row">

    <div class="col" ></div>
    <div class="col" >
<h3 class="text-center">
<h1><%= message %></h1>
<%= error.status %>

<pre><%= error.stack %></pre>
</div>

    <div class="col" ></div>
</div>

</body>



