<!DOCTYPE html>

<html>
    <%include par/head %>
    <%include nav/nav%>
    <%include nav/mod%>
    <%include nav/sig%>
    <body> 
<% include top/al %>
<% include top/1 %>
<% include top/2 %>
<% include top/fea %>
<% include top/crs %>
<% include top/map %>
<p id="pageTop"><a href="#"><i class="fas fa-chevron-up"></i></a></p>


</body>
</html>


<script src=js/pag.js></script>
