<!DOCTYPE html>
<% include par/head%>
<% include nav/nav%>

<html>
<body>

<p class="text-center p-2 bg-ali">my page</p><br>
<div class="row">
<div class="col-lg-1 bg-ali"></div><!-- /col1-->

<div class="col-lg-10 bg-bei p-2">

<%if(soc){%>

<%if(soc.prv=="twitter"){%>
<%= soc.nam%>
<%}else if(soc.prv=="facebook"){%>

<%= soc.nam%>
<%}%>

<%}else{%>
<script src="js/red.js"></script>
<%}%>
</div><!-- /col2-->

<div class="col-lg-1 bg-ali"></div><!-- /col1-->

</div><!-- /row-->

</body>
</html>

