<!DOCTYPE html>
<html>
<% include par/suc%>
<% include nav/nav%>
<body>
    <div class=container-fluid>
    <div class=row>

    <div class="col p-3 bg-bei">
    <% include par/tw%>
    <% include par/fb%>

    </div>

     <div class="col p-2 bg-ali">
    </div>

    </div>    </div>
</body>
</html>
