<!DOCTYPE html>
<html>
<% include par/head%>
<% include nav/nav%>
<body>

<!-- menu -->

<div class="row">
<div class="col">

</div>

<div class="col"> 
<% if(usr){ %>
<% include pay/sel%>
<% } else { %>
<script src=js/red.js></script>
<% } %>
</div><!-- /col-->
</div><!-- /cols-->

</body>

</html>

