<div id="base" class="navbar-menu">
   <div class="navbar-end">
		<div class="navbar-item " href="#"  style="font-size:18px;">
            
			<a href="/#overview">概要&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			<a href="/#feature">特徴&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        	<a href="/#course">コース&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			<a href="/#access">アクセス&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			<a href="/usr-fav">お問合せ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
       
		</div><!--navitem -->
	</div>
</div><!--/navmenu -->

