<div class="navbar-menu bkg-bl2">
<div class="navbar-end">

<div class="navbar-item " style="font-size:18px;"><a href="#sum"> 概要</a></div>
<div class="navbar-item " style="font-size:18px;"><a href="#fea"> 概要</a></div>
<div class="navbar-item " style="font-size:18px;"><a href="#crs"> コース</a></div>
<div class="navbar-item " style="font-size:18px;"><a href="#map"> アクセス</a></div>
<div class="navbar-item " style="font-size:18px;"><a href="#ema"> email</a></div>

</div><!-- end-->
</div><!-- navmenu -->

