<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" 
    id="sup" 
    role="button" 
    data-toggle="dropdown" 
    aria-haspopup="true" 
    aria-expanded="false">
    <i class="fa fa-user text-white"></i>
    <span class=text-white>
    ユーザ
    </span>

        </a>
        <% if(usr){%>
        <% include in%>
        <% }else {%>
        <% include out%>

        <% }%>
       
      </li>

