    <div class="dropdown-menu" aria-labelledby="sup">
    <a class="dropdown-item" href="/mypage"><i class="fas fa-users"></i> my page</a>
    <a class="dropdown-item" href="/cart"><i class="fas fa-shopping-cart"></i> cart</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item" >
              <% include ./obut%> 
          </div>
        </div>


