<div class="modal-body">
<form id=login action="/log-ed" method="post">
E-mail:<br><input class="form-control" id="ema" type="email" name="email"  size="15">
<br>
Password:<br><input class="form-control" id="pss" type="text" name="pss" value="" size="15">
<br><br>
<button type="submit" class="btn btn-info">
<%=iusr.login%>
</button>
</form>

</div>


