<div class="dropdown-menu" aria-labelledby="sup">

<a class="dropdown-item" href="/auth/twitter">
 <button type="button"  class="btn btn-ali">
    <i class="fab fa-twitter"></i>
twitter
    </button>
     </a>

<a class="dropdown-item" href="/auth/facebook">
 <button type="button"  class="btn btn-ali">
    <i class="fab fa-facebook"></i>
facebook
    </button>
     </a>


<a class="dropdown-item" href="#mbut"
data-toggle="modal" 
data-target="#mod1">
<button type="button" 
    id="mbut"
    class="btn btn-primary">
log in
</button>

</a>

<a class="dropdown-item" href="#sbut"
data-toggle="modal" 
data-target="#smod">
<button type="button" 
    id="sbut"
    class="btn btn-danger">
    sign up
</button>
</a>

         <button class=btn><a href="info">terms of service</a></button>

        </div>

