<div class="modal fade" id="smod" tabindex="-1" 
    role="dialog" 
    aria-labelledby="slab" 
    aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <% include ./sbody%>
        <% include ./sfoot%>
    </div>
  </div>
</div>
