<ul class="navbar-nav ml-auto">

<li class="nav-item">
<a class="nav-link" href="/#fea" style="color:white;">特徴</a>
</li>
&nbsp;&nbsp;&nbsp;&nbsp;
<li class="nav-item">
<a class="nav-link" href="/#crs" style="color:white;">コース</a>
</li>
&nbsp;&nbsp;&nbsp;&nbsp;
<li class="nav-item">
<a class="nav-link" href="/#map" style="color:white;">アクセス</a>
</li>
&nbsp;&nbsp;&nbsp;&nbsp;
<li class="nav-item">
<a class="nav-link" href="/#ema" style="color:white;">Email</a>
</li>
&nbsp;&nbsp;&nbsp;&nbsp;
<% include ./drp%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</ul>


