<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" 
    id="sup" 
    role="button" 
    data-toggle="dropdown" 
    aria-haspopup="true" 
    aria-expanded="false">
    ユーザ
    <i class="fa fa-user"></i>
        </a>
        <% if(usr){%>
        <% include in%>
        <% }else {%>
        <% include out%>

        <% }%>
        
      </li>

